<%- include("partials/header.ejs") -%>

<h1><%= title %> </h1>
<p><%= content %></p>

<% posts.forEach(post => { %>
<h1><%= post.title %></h1>
<% if (post.content.length > 100) { %>
<p><%= String(post.content).slice(0, 100)+"..." %>
    <a href="/posts/<%= post._id %>">Read More</a>
</p>
<% } else { %>
    <p><%= post.content %> </p>
    <% } %>
    <br>
<% }) %>

<%- include("partials/footer.ejs")  -%>